/* Sign In */
.signDiv1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  width: 100%;
  padding-top: 48px;
}
.signDiv2 {
  width: 100%;
  max-width: 448px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.signDiv3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  width: 100%;
  margin: 0 auto;
}
.signDiv4 {
  margin-bottom: 20px;
}
.signH1 {
  margin-bottom: 16px;
  font-weight: 900;
  color: var(--foreground);
}
.signP {
  font-size: 14px;
  color: var(--foreground-subtle);
}
.signDivForm {
  margin-top: 14px;
}
.signDanger {
  color: var(--danger);
  font-size: 18px;
  padding-left: 4px;
}
.signRelative {
  position: relative;
}
.signSpanEye {
  position: absolute;
  z-index: 30;
  transform: translateY(-50%);
  cursor: pointer;
  right: 16px;
  top: 50%;
}
.signPasswordDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}
.signButton {
  width: 100%;
}
@media (min-width: 1024px) {
  .signDiv1 {
    width: 50%;
    margin: 0 auto;
  }
}
