.sidebar {
  position: fixed;
  margin-top: var(--space-6xl);
  top: 0;
  left: 0;
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  display: flex;
  flex-direction: column;
  background: var(--sidebar-bg);
  color: var(--sidebar-text);
  transition: all 0.3s ease;
  height: 100vh;
}

.wide {
  width: var(--aside-wide);
}
.narrow {
  width: var(--aside-narrow);
}
.mobileVisible {
  transform: translateX(0);
}
.mobileHidden {
  transform: translateX(-100%);
}

.logo {
  color: var(--sidebar-text);
}

@media (min-width: 1024px) {
  .sidebar {
    margin-top: 0;
    transform: translateX(0);
  }
}
