.sidebar {
  background: var(--sidebar-bg);
  color: var(--sidebar-text);
  transition: all 0.5s ease;
}

.wide {
  width: 290px;
}
.narrow {
  width: 90px;
}
.mobileVisible {
  transform: translateX(0);
}
.mobileHidden {
  transform: translateX(-100%);
}

.logo {
  color: var(--sidebar-text);
}

@media (min-width: 1024px) {
  .sidebar {
    transform: translateX(0);
  }
}
