.smallSize {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
}
.midSize {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
}
.primary {
  background: var(--primary);
  color: var(--text-on-primary);
}
.primary:hover {
  background: var(--primary-hover);
  outline: 1px solid var(--primary-outline);
}
/* .outline { */
/*   outline: 1px solid var(--btn-outline-border); */
/* } */
/* .outline:hover { */
/*   opacity: 0.8; */
/* } */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-medium);
  gap: 8px;
  border-radius: var(--radius-lg);
  border: none;
  transition: all 0.3s ease;
  outline: none;
}
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.iconStyle {
  display: flex;
  align-items: center;
}
