.shell {
  min-height: 100vh;
}

.main {
  width: 100%;
  background: var(--background);
  transition: all 0.3s ease;
}

.content {
  padding: 24px;
  overflow: auto;
}

.ml0 {
  margin-left: var(--aside-zero);
}

@media (min-width: 1024px) {
  .shell {
    display: flex;
  }
  .ml290 {
    margin-left: var(--aside-wide);
  }
  .ml90 {
    margin-left: var(--aside-narrow);
  }
}
