.shell {
  min-height: 100vh;
  display: flex;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.content {
  overflow-y: auto;
}

.ml0 {
  margin-left: var(--aside-zero);
}

@media (min-width: 1024px) {
  .shell {
    display: flex;
  }
  .ml290 {
    margin-left: var(--aside-wide);
  }
  .ml90 {
    margin-left: var(--aside-narrow);
  }
}
