.shell {
  height: 100vh;
}

.main {
  flex: 1;
  background: var(--background);
  transition: all 0.3s ease;
}

.content {
  padding: 24px;
  overflow: auto;
}

.ml0 {
  margin-left: 0;
}
.ml290 {
  margin-left: 290px;
}
.ml90 {
  margin-left: 90px;
}

@media (min-width: 1280) {
  .container {
    display: flex;
  }
}
