.themeToggleBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 50%;
  background: var(--base);
  width: var(--space-10);
  height: var(--space-10);
  cursor: pointer;
}
.themeToggleBtn:hover {
  color: var(--text-subtle);
  background: var(--base-subtle);
}
.bright {
  color: var(--text);
  width: var(--space-5);
  height: var(--space-5);
}
.moon {
  color: var(--text);
  width: var(--space-5);
  height: var(--space-5);
}
